.containerClass {
  height: auto;
}


.iconClass {
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  /* padding-top: 10px; */
  vertical-align: bottom;
}

.bodyClass {
  height: auto;
}


.hamburgerMenu{
   background-color:  rgba(30, 114, 240, 0.89);
   height: 100%;
   width:auto;

}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}


.expansionPanel{
  background-color: rgb(181, 206, 243);
}

.expansionHeader{
  background-color: rgb(119, 166, 236);
}

input{
  
  font-size: 16px;
  padding: 0;
  border: 2px solid #ccc;
  // border-left: 0;
  width:30%;
  color: #666;
  border-radius: 0 7px 7px 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.example-button-row button,
.example-button-row a {
 
  margin-right: 8px;
  background-color:  rgb(119, 166, 236);
}

.example-button-row1 button,
.example-button-row1 a {
 
  margin-right: 8px;
  background-color:  rgb(175, 173, 174);
}

.inptSelect{
  margin-left: 15px !important;
  
}

.fullNameClass{
  margin-right: 34px;
    margin-left: 10px;
    margin-top: 5px;
}
.fullNameVal{
  margin-top: 5px;
}

.contactName{
  margin-right: 47px;
    margin-left: 10px;
}
.emailId{
  margin-right: 41px;
    margin-left: 10px;
}

.city{
  margin-left: 10px;
  margin-right: 68px;
}

.college{
  margin-left: 10px;
  margin-right: 46px;
}

.skills{
  margin-left: 10px;
  margin-right: 58px;
}

.interest{
  margin-left: 10px;
  margin-right: 40px;
}

.valueAdded{
  font-size: 18px;
  border: 0.5px solid black;
  /* padding: 5px; */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(106, 183, 219);
  border-radius: 7px 7px 7px 7px;
}

.closeIcon{
  margin-left: -17px;
  margin-top: 19px;
  font-size: 14px;
  margin-right: 16px;
}

mat-card{
  margin-bottom: 9px;
    margin-top: -14px;
}