<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bodyClass">


  <!-- <h4> FILTER PANEL </h4> -->
  <div class="containerClass">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="savedFilters"><span>
            SAVED FILTERS
          </span></div>

      </mat-drawer>
      
        <div class="example-sidenav-content">
     
          <span> <i class="material-icons iconClass" (click)="drawer.toggle()">
            list
            </i></span>

           
          <span><label class="panelDisplay"> FILTER PANEL</label></span>

        </div>


    
    
    </mat-drawer-container>
  </div>
</div>
