.containerClass {
  height: auto;
}


.iconClass {
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  /* padding-top: 10px; */
  vertical-align: bottom;
}

.bodyClass {

  height: auto;
}


.savedFilters{
   background-color: aliceblue;

}

.example-sidenav{
    background-color: aliceblue;
    height: 100%;

}

.example-sidenav-content{
    background-color: rgba(30, 114, 240, 0.89);
    height: 100%;
    padding-left: 10px;
    margin-left: -3px;
    height: 40px !important;
    font: normal 0.6rem  !important;
}
