.containerClass {
  height: auto;
}


.iconClass {
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  /* padding-top: 10px; */
  vertical-align: bottom;
}

.bodyClass {
  height: auto;
}


.hamburgerMenu{
   background-color:  rgba(30, 114, 240, 0.89);
   height: 100%;
   width:auto;

}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}


.expansionPanel{
  background-color: rgb(181, 206, 243);
}

.expansionHeader{
  background-color: rgb(119, 166, 236);
}