.backgroundImg{
    background-image: url(../../assets/image/bg.png);
    width: 39.8rem;
    overflow: auto;
    position: absolute;
    z-index: 10;
    left:101%;
    opacity: 0.98;
    background: transparent;
    top: 0;
    bottom: .3rem;
}